.col-xs-6,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-md-2 {
	margin-bottom: 20px;
}

.stand-alone {
	margin-bottom: 30px;
}

@media (max-width: 480px) {
	p {
		line-height: 24px;
	}
}

h4 {
	margin: 20px 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #222;
}

.banner {
    position: relative;
    height: 500px;
    margin-bottom: 10px;
    padding: 20px 0;
    color: #fff;
    background: url("../images/banner/banner_0005_39steps.jpg") center center no-repeat #000;
}

.banner a,
.banner h3,
.banner h5,
.banner h6,
.banner p {
    color: #fff;
}

.banner p {
    font-size: 16px;
    line-height: 22px;
}

.banner .col-md-12 {
    position: relative;
}

.banner-box {
    position: absolute;
    width: 55%;
    right: 0;
    margin-top: 70px;
    padding: 30px;
    background: rgba(0,0,0,.8);
}

@media (max-width: 760px){
    .banner-box {
        width: 100%;
        margin-top: 50px;
    }
}

.banner.home-page {
    background-image: url("../images/banner/home-page.jpg");
}

.banner.southern-comforts {
    background-image: url("../images/banner/southern-comforts.jpg");
}

.banner.let-nothing-you-dismay {
    background-image: url("../images/banner/let-nothing-you-dismay.jpg");
}

.banner.i-hate-hamlet {
    background-image: url("../images/banner/i-hate-hamlet.jpg");
}

.banner.hail-mary {
    background-image: url("../images/banner/hail-mary.jpg");
}

.banner.the-39-steps {
    background-image: url("../images/banner/the-39-steps.jpg");
}

.banner.kiss-me-kate {
    background-image: url("../images/banner/kiss-me-kate.jpg");
}


.banner.barefoot-in-the-park {
    background-image: url("../images/banner/barefoot-in-the-park.jpg");
}

.banner.barefoot-in-the-park-02 {
    background-image: url("../images/banner/barefoot-in-the-park-02.jpg");
}

.banner.let-nothing-you-dismay-2016 {
    background-image: url("../images/banner/let-nothing-you-dismay-2016.jpg");
}

.banner.death-by-design {
    background-image: url("../images/banner/death-by-design.jpg");
}

.banner.death-by-design-page {
    background-image: url("../images/banner/death-by-design-page.jpg");
}

.banner.the-cemetery-club {
    background-image: url("../images/banner/the-cemetery-club.jpg");
}

.banner.boeing-boeing {
    background-image: url("../images/banner/boeing-boeing.jpg");
}

.banner.boeing-boeing02 {
    background-image: url("../images/banner/boeing_boeing.jpg");
}

.banner.baby-case {
    background-image: url("../images/banner/annie-get-your-gun02.jpg");
}

.banner.let-nothing-you-dismay-03 {
	background-image: url("../images/banner/let-nothing-you-dismay-2016-02.jpg");
}

.banner.the-cemetary-club {
	background-image: url("../images/banner/the-cemetary-club.jpg");
}

.banner.dial-m-for-murder {
	background-image: url("../images/banner/dial-m-for-murder-02.jpg");
}

.banner.christmas-at-sweet-apple {
	background-image: url("../images/banner/christmas-at-sweet-apple.jpg");
}

.banner.picnic {
	background-image: url("../images/banner/picnic02.jpg");
}

.banner.mass-appeal {
	background-image: url("../images/banner/mass-appeal02.jpg");
}

.banner.living-on-love {
	background-image: url("../images/banner/living-on-love.jpg");
}

.banner.smokey-joes-cafe {
	background-image: url("../images/banner/smokey-joes-cafe.jpg");
}

.banner.annie-get-your-gun {
	background-image: url("../images/banner/annie-get-your-gun.jpg");
}

.banner.christmas-at-sweet-apple-page {
	background-image: url("../images/banner/sweet-apple.jpg");
}

@media (max-width: 480px) {
	.banner {
		max-height: 130px;
		background-size: 100%;
	}
}

.swiper {
	background: #000;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	min-height: 50px;
	padding: 10px 0;
	background: #222;
	color: #fff;
	z-index: 20;
}

.tease {
	position: relative;
	border: 1px solid #000;
}

.cast p {
	margin: 10px 0;
	font-size: 18px;
	text-align: center;
}

.staff {
	margin-bottom: 20px;
}

.staff-name {
	margin-bottom: 0;
	font-size: 24px;
	font-weight: bold;
}

@media (max-width: 480px) {
	.staff-name {
		margin-bottom: 10px;
	}
}

.staff-name a:hover {
	text-decoration: none;
}

.staff h4 {
	margin-bottom: 5px;
	font-size: 24px;
}

.staff h6 {
	margin-bottom: 10px;
	font-size: 18px;
	font-style: normal;
}

.staff img {
	width: auto;
	float: right;
	margin: 0 0 30px 30px;
}

@media (max-width: 480px) {
	.staff img {
		width: 100%;
		float: none;
		margin: 0 0 20px 0;
	}
}

.content-holder {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 20px 10px 10px;
	color: #fff;
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.2) 20%, rgba(0,0,0,1));
}

.content-holder h4,
.content-holder h6,
.content-holder a {
	color: #fff;
}

.teases {
	margin-top: 30px;
}

.tease-holder {
	position: relative;
}

.tease-holder .image-holder {
	border: 1px solid #000;
}

.tease-holder .content-holder {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 20px 10px 0;
	color: #fff;
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.2) 20%, rgba(0,0,0,1));
}

.tease-holder .content-holder h5 {
	margin-bottom: 5px;
	font-size: 18px;
}

.tease-holder .content-holder.under {
	position: relative;
	width: 100%;
	padding: 10px;
	color: #000;
	background-image: none;
}

.tease-holder .content-holder.under a,
.tease-holder .content-holder.under h5,
.tease-holder .content-holder.under h5 a {
	color: #b42c30
}

@media (max-width: 560px) {
	.tease-holder .content-holder {
		position: relative;
		padding: 5px 0 0;
		background: transparent;
		color: #000;
	}

	.tease-holder .content-holder a {
		color: #000;
	}


}


