.carousel img {
	height: auto;
}

.carousel-caption {
	margin-top: 350px;
}

.featurette-divider {
	margin: 40px 0;
}

.treatment{
	margin-right: 10px;
	margin-bottom:10px;
    border:1px solid rgba(0,0,0,1);
    box-shadow:3px 3px 5px rgba(0,0,0,.5)
}
.widget{
	float:right;
	width:50%;
	margin:0 0 10px 10px;
}

@media (max-width: 767px) {
	.carousel img {
		height: auto;
	}

	.carousel-caption {
		margin-top: 125px;
	}

	.featurette-divider {
		margin: 20px 0;
	}
}