.span3.gallery{
	margin-left:0;
	padding-right: 20px;
	height:480px;
	background: #56B6DD;
	text-align:left;
}

.span3.gallery ul{
	margin:0;
	list-style-type: none
}

.span3.gallery ul li{
	border: none;
	border-bottom: 1px solid #fff;
	border-radius: 0
}

.span3.gallery ul a{
	display: inline-block;
	color:#fff;
}

.span3.gallery > ul > li > a{
	padding: 10px;
}

.span3.gallery .accordion-body{
	background:rgba(255,255,255,.15);
	font-size: 15px
}

.span3.gallery .accordion-toggle.collapse{
	background:rgba(255,255,255,.5);
	display:block;
}

.span3.gallery .accordion-body ul li{
	border:none;
}

.span3.gallery .accordion-body ul li a:hover{
	background:rgba(255,255,255,.5);
	color:#56B6DD;
}

.span3.gallery .accordion-body ul li a{
	display: block
}

.span3.gallery .accordion-body ul li a{
	padding:0 0 5px 20px;
}

.gallery_title{
	color: rgba(189,33,44,1);
	font-style: italic;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.carousel{
	height:470px;
/*	padding: 10px;
	box-shadow:inset -5px -5px 10px #D8D8D8,inset 5px 5px 10px #D8D8D8;*/
}

.carousel-inner{
	width:100%;
	overflow:hidden;
	
}

.carousel .item{
/*	height:450px;*/
	padding:10px;
}

.carousel .item > img{
	max-width: 95%;
	height: 95%;
	margin:0 auto;
	padding:10px;
	box-shadow: 0 0 10px #aaa;
}

.carousel-caption{
	background: transparent;
	text-align:center;
	bottom:-42px;
}

.carousel-caption p{
	font-size:16px;
	color:rgba(255,255,255,.7);
}

@media (min-width: 768px) and (max-width: 979px) {
	.carousel{
	height:350px;
	/*	padding: 10px;
		box-shadow:inset -5px -5px 10px #D8D8D8,inset 5px 5px 10px #D8D8D8;*/
	}
	.span3.gallery{
		height:365px;
	}
	.span3.gallery ul li{
		font-size: 14px;
		line-height: 16px;
	}
	.span3.gallery .accordion-body ul li{
		font-size: 13px;
		line-height: 17px;
	}
	.span3.gallery .accordion-body ul li a{
		padding: 5px 0 5px 20px;
	}
}

@media (min-width: 480px) and (max-width: 768px) {
	.carousel{
		height: 400px;
	}
	.span3.gallery{
		height: auto;padding-right: 0;
	}
	.span3.gallery ul a{
		display: block;
	}
}

@media (max-width: 480px){
	.carousel{
		height: 230px;
		padding-bottom:10px;
	}
	.span3.gallery{
		height: auto;
		padding-right: 0;
	}
	.span3.gallery ul a{
		display: block;
	}
	.carousel-control{
		top: 50%;
	}
}