.callout{
	box-shadow:0 0 5px rgba(0,0,0,.5);
	margin:0 0 0 10px;
	padding:5px;
}

.back.tile{
	position:relative;
	height:250px;
	background-color:#999;
	color:#fff;
}

.back.tile.one{
	background-color:#08C;
}

.back.tile.two{
	background-color:rgba(189, 33, 44, 1);
}

.back.tile.three{
	background-color:#f9ae40;
}



.label{
	background: transparent;
}

.back.tile .title{
	margin: 30px 20px 0 20px;
	color:#fff;
	font-size: 14px;
	font-weight: 700;
}

.text{
	font-size: 12px;
	line-height: 16px;
	margin: 20px 20px 0 20px;
	color: rgba(255,255,255,.8);
}

.authors.byline{
	bottom: 29px;
	height: 22px;
	margin: 0 0 0 20px;
	overflow: hidden;
	position: absolute;
	z-index: 1;
	font-size: 12px;
	color: rgba(255,255,255,.7);
}

.authors.byline span{
	
}



/*  */

.widget-pane {
	position:relative;
	height:270px;
	width: 270px;
}

.widget-media {
	height: 100%;
	width: 100%;
	bottom: 0;
	left: 0;
	position: absolute;
	z-index: 50;
}

.widget-text {
	bottom: -1px;
	height: 100%;
	position: absolute;
	width: 101%;
	background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.2) 75%, rgba(0, 0, 0, 0.6) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(75%,rgba(0, 0, 0, 0.2)), color-stop(100%,rgba(0, 0, 0, 0.6)));
	background: -webkit-linear-gradient(top, transparent 0%,rgba(0, 0, 0, 0.2) 75%,rgba(0, 0, 0, 0.6) 100%);
	background: -o-linear-gradient(top, transparent 0%,rgba(255, 255, 255, 0.2) 75%,rgba(255, 255, 255, 0.6) 100%);
	background: -ms-linear-gradient(top, transparent 0%,rgba(255, 255, 255, 0.2) 75%,rgba(255, 255, 255, 0.6) 100%);
	background: linear-gradient(to bottom, transparent 0%,rgba(255, 255, 255, 0.2) 75%,rgba(255, 255, 255, 0.6) 100%);
	z-index:53;
}

.widget-story {
	bottom: 0;
	color: white;
	position: absolute;
	width: 100%;
	z-index: 54;
}

.widget-story h3 {
	font-family: 'LeagueGothic',Arial,sans-serif;
	font-size: 30px;
	line-height: 32px;
	margin: 0 10px 5px 10px;
	text-align:center;
	color: #fff;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, .8);
}

@media (min-width: 979px) and (max-width: 1200px) {
	.widget-pane {
		height:220px;
		width: 220px;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	.widget-pane {
		height:170px;
		width: 170px;
	}
}

@media (min-width: 480px) and (max-width: 768px) {
	.widget-pane {
		height:170px;
		width: 170px;
	}
	.widget-text {
		top: -1px;
		height: 101%;
		position: absolute;
	}
	.widget-story h3{
		font-size:22px;
	}
}
