body {
	padding-top: 60px;
	padding-bottom: 40px;
}

h1 {
	padding-bottom: 5px;
	border-bottom: 1px solid #999;
}

h3 {
	line-height: 30px;
}

h4.heading {
	padding-bottom: 5px;
	border-bottom: 1px solid #999;
}

.staff h4.heading, .board h4.heading {
	margin-bottom: 0;
}

.board img {
	width: 150px;
	margin: 0 0 10px 10px;
}

.staff img {
	width: 200px;
	margin: 0 0 10px 10px;
}

.span3, .span4, .span6, .span8 {
	margin-bottom: 20px;
}

.clear {
	clear: both;
}

.hero-unit {
	padding: 30px;
}

.hero-unit .credit {
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 16px;
	font-style: italic;
}

.credit {
	margin-bottom: 0;
	line-height: 16px;
	font-weight: normal;
	font-style: italic;
}

.treatment {
	border: 1px solid rgba(0,0,0,.5);
	box-shadow: 2px 2px 2px rgba(0,0,0,.5)
}

.content img {
	margin: 0 0 10px 10px;
}

.cast {
	margin-bottom: 20px;
}

.cast img {
	margin-bottom: 10px;
}

.cast p, .woodies p {
	text-align: center;
	font-weight: bold;
}

.cast p.credit, .woodies p.credit {
	font-weight: normal;
}

.sponsor h4, .woodies h4 {
	text-align: center;
}

.brochure {
	display: block;
	margin: 20px auto;
}


@media (min-width: 768px) and (max-width: 979px) {
	.content img {
		width: 450px;
		margin: 0 0 5px 15px;
	}

	.staff img {
		width: 150px;
		margin: 0 0 10px 10px;
	}

	.board img {
		width: 100px;
		margin: 0 0 10px 10px;
	}

}

@media (max-width: 767px) {
	.content img {
		width: 400px;
		margin: 0 0 10px 15px;
	}

	.staff img {
		width: 150px;
		margin: 0 0 10px 10px;
	}

	.board img {
		width: 150px;
		margin: 0 0 10px 10px;
	}

}

@media (max-width: 599px) {
	.content img {
		float: none;
		width: 100%;
		margin: 0 0 15px 0;
	}
}

@media (max-width: 480px) {
	.content img {
		float: none;
		width: 100%;
		margin: 0 0 15px 0;
	}

}













