*{margin:0;padding:0}
body{background-image:url(../images/background_new.jpg);background-color:#000;background-repeat:no-repeat;background-position:50% 0;font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#444;}

#wrapper{
	width:960px;
	margin:0 auto;
	background:#fff;
	border-left:1px solid #bd1e2c;
	border-right:1px solid #bd1e2c
}

.specialTextLarge{
	color:#bd1e2c;
	font-family:"Times New Roman",Georgia,Serif;
	font-size:32px;
	font-weight:bold;
}

.specialTextMedium{
	margin-bottom:10px;
	font-family:"Times New Roman",Georgia,Serif;
	font-size:24px
}

/* columns */
.column01{float:left;width:102px;margin:0 15px 10px 0}
.column15{float:left;width:161px;margin:0 15px 10px 0}
.column02{float:left;width:220px;margin:0 15px 10px 0}
.column03{float:left;width:290px;margin:0 20px 10px 0}
.column04_5{float:left;width:450px;margin:0 20px 10px 0}

.column06{float:left;width:600px;margin:0 20px 10px 0}
.column09{float:left;width:100%;margin:0 0px 10px 0}

/*h1,h2,h3,h4,h5,h5{margin:0}*/
h1{margin-bottom:5px;color:#f9ae40;font-size:18px}
h2{margin-bottom:5px;color:#bd1e2c;font-size:18px}
h3{margin-bottom:5px;color:#bd1e2c;font-size:16px}

#content img{float:left;margin:0 10px 10px 0;border:1px solid rgba(0,0,0,1);box-shadow:5px 5px 5px rgba(153,153,153,1);-moz-box-shadow:5px 5px 5px rgba(153,153,153,1);-webkit-box-shadow:5px 5px 5px rgba(153,153,153,1)}
p{margin-bottom:10px}
ul{list-style:none}

/* centered */
#content .centered{text-align:center}
#content .centered h3{text-align:left}
#content .centered img{display:block;float:none;margin:0 auto 10px auto}

/* righted */
#content .righted img.homepageImage{float:none;margin:0 auto 20px auto}
#content .righted img{float:right;margin:0 0 10px 10px}

#branding{width:100%;height:200px;background:#fff}
#content{padding:0 10px 10px 10px}
#content .now_playing img{float:right;margin:0 0 10px 10px}
#now_showing{margin:20px 0;}
#now_showing h2{margin-bottom:10px;color:#bd1e2c}
#content .suzi_image{float:left;margin:0 10px 10px 0}

.columnFull img{float:right;margin:0 0 10px 10px}
.columnLeft,.columnRight{float:left;width:48%;margin:10px 15px 0 0;padding-top:10px;border-top:5px solid #56b6dd}
.alignLeft{text-align:left;}

#gallery .columnLeft,#gallery .columnRight{border-top:none}


.columnLeft h5,.columnRight h5{margin-bottom:15px}
.columnLeft img,.columnRight img{float:right;margin:0 0 10px 10px}
.columnLeft ul,.columnRight ul,#directions .columnFull ul{margin-bottom:10px}

.columnLeft.gallery_announce,.columnRight.gallery_announce{text-align:center}
.columnLeft.gallery_announce h2,.columnRight.gallery_announce h2{text-align:left}
.columnLeft.gallery_announce img,.columnRight.gallery_announce img{float:none;margin:0 auto;}

.clear{clear:both}
.clearfix{clear:both}
a{color:#009191;text-decoration:none;border-bottom: 1px dotted #009191}
a:hover{color:#009191;text-decoration:none;border-bottom: 1px solid #009191}

#content img{border:1px solid #444;box-shadow:5px 5px 5px #999;-moz-box-shadow:5px 5px 5px #999;-webkit-box-shadow:5px 5px 5px #999}
.homepageImage{float:right;margin:0 0 10px 10px}
#content .noborder{border:none;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none}

/*footer styles*/
#footer{text-align:center;clear:both;margin:10px auto;padding:.5em 0;border-top:2px solid #bd1e2c}
#footer h4{color:#bd1e2c;margin-bottom:3px}
#footer p{font-size:12px;margin:0;}


/* remove */
#homepage .homepageImage{border:1px solid #444}

/* contact */
.contact h4{display:inline}

/* subscriptions */
.columnFull .seatingChart{text-align:center}
.columnFull .seatingChart img{float:none;margin:10px}
#boxOffice h3{margin-bottom:0}

/* sponsors */
table.sponsors{width:100%;margin-bottom:10px}
table.sponsors td{padding:5px;text-align:center;border:none}
#content table.sponsors a{border:none}
#content table.sponsors img{border:none;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;float:none;margin:none;}
table.small td{width:33%}
table.large td{width:50%}


/* woodies*/
table.threeCol{border:none}
table.threeCol td{width:33%;padding:5px;text-align:center;vertical-align:top}
.nomCateg{color:#dbb45b;font-size:1.2em;font-weight:bold}
.nomName{font-size:1.1em;font-weight:bold}
.nomShow{font-style:italic}
h6{color:#dbb45b;font-size:1.2em;font-weight:bold;padding-top:.5em;border-top:1px solid #fff;padding-bottom:.5em;border-bottom:1px solid #fff;text-align:center}
table.sidebarNoms{margin-left:auto;margin-right:auto}
table.sidebarNoms td{width:50%;text-align:center;padding:4px}