.specialTextLarge a{
	border-bottom:none;
}

.cast_frame{
	float:left;
	margin:0 20px 10px 20px;
	padding:10px 10px 5px 10px;
	border:1px solid #ccc;
	text-align:center;
}

#content .cast_frame img {
	float: none;
	margin: 0 auto 5px auto;
	padding:3px;
	box-shadow:none;
}